<!-- Content Starts Here -->
<div class="container">
    <div class="row">
        <!-- Left column content starts -->
        <div class="col-sm-12 col-md-12 col-lg-12 mt-4 content-holder">
            <div class="col-sm-8 col-md-8 col-lg-8 mt-4">
                <div class="access-pad">
                    <h2>Access Denied</h2>
                    <span>You currently do not have access to this application. Please submit an access request to 
                        <a href="http://pcgrequest" target="_blank">PCG IT&S Systems</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 mt-4"></div>
        </div>
    </div>
</div>
